<header class="flex bb brown altbg">
  <a href='/' class="absolute left-0 mw3 w-10">
    <img src="./assets/tol-logo-trans.png" alt="">
  </a>
  <div class="absolute left-3 top-2">
    <p>{{text.title}}</p>
  </div>
  <div class="flex center f3">
    <p class="">{{headline}}</p>
  </div>
  {{> languageForm}}

</header>
