<header class="flex bb brown altbg">
  <div class="mw3 w-10">
    <img src="./assets/tol-logo-trans.png" alt="">
  </div>
  <div class="flex">
    <p >شجرة الحياة</p>
  </div>
  <div class="flex center f3">
    <p class="">{{headline}}</p>
  </div>
</header>
