<header class="flex h-header bb brown altbg">
  <a href='/' class="absolute left-0 w3">
    <img src="./assets/tol-logo-trans.png" alt="">
  </a>
  <div class="absolute left-3 top-3 f6">
    <p>{{text.title}}</p>
  </div>
  <div class="flex center f4 f3-ns">
    <p class="">{{headline}}</p>
  </div>
  {{> languageForm}}

</header>
