<header class="flex bb brown altbg">
  <a href='/' class="mw3 w-10">
    <img src="./assets/tol-logo-trans.png" alt="">
  </a>
  <div class="flex">
    <p>{{text.title}}</p>
  </div>
  <div class="flex center f3">
    <p class="">{{headline}}</p>
  </div>
</header>
