<div class="flex">
  <form id="languageBtn" class="flex center" action="/langChange" method="post">
    <input type="radio" name="language" value="english">English
    <input type="radio" name="language" value="arabic">عربي
  </form>
</div>
