<div class="absolute right-0">
  <form id="languageBtn" class="flex center" action="/langChange" method="post">
    <ul class="list pl0">
      <li class="pa1"><input type="radio" name="language" value="arabic">عربي</li>
      <li class="pa1"><input type="radio" name="language" value="english">English</li>
    </ul>
  </form>
</div>
