<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="./main.css"/>
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon-96x96.png">


    <title>Tree of life</title>

  </head>
  <body class="amiri">
    {{{body}}}
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
