<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.7.0/css/tachyons.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./main.css"/>
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon.ico">


    <title>Tree of life</title>

  </head>
  <body class="amiri bg-lbrown">
    {{{body}}}
    <script type="text/javascript" src="./index.js"></script>
  </body>
</html>
