<section class="vh-100 bg-washed-blue baskerville br">
<p class="fw1 i tc mt4 mt5-l f4 f3-l">العملية تمت بنجاح</p>
<a  class="f5 f4-ns  tc link black db pv2 ph3 hover-light-purple" href="list">عودة</a>
</section>
