<h1>information about the volunteer</h1>
<form class="" action="/addvolunteer" method="post">
  <section class = "">
    <a class = "" href="./rolepage.html">←</a>
    <form class="" action="./listpage.html" method="post">
      <div class="">
        <label class="" for="name">Full Name:</label>
        <input class="" type="text" id="name" name="user_name">
      </div>
      <div class="">
        <label class="" for="age">Age:</label>
        <input class="" type="number" id="age" name="user_age">
      </div>
      <div class="">
        <label class="" for="msg">Availability:</label>
        <textarea class="" id="msg" name="user_message"></textarea>
      </div>
      <div class="">
        <label class="" for="phone">Phone Number:</label>
        <input class="" type="number" id="phone" name="user_phone">
      </div>
      <div class="">
        <label class="" for="mail">E-mail:</label>
        <input class="" type="email" id="mail" name="user_mail">
      </div>
      <div class="">
        <button class="" type="submit" name="button">Submit Details</button>
      </div>
    </form>
  </section>
</form>
