<div class="">
  <section class="dt mw6 center pt0 pb5-ns pv5-m pv2-ns">
    <div class="db dtc-ns v-mid-ns">
      <img class="w-100 mw5 w5-ns" src="./assets/tol-logo-trans.png" alt="tree of life">
    </div>
    <div class="db dtc-ns v-btm ph2 pr0-ns pl3-ns">
      <h1 class="f1 lh-copy brown tc ma0">{{text.title}}</h1>
    </div>
  </section>

  <p class="f4 bt bb pa2 mw6 ma3 center-ns brown">{{text.description}}</p>
  
<div class="flex justify-content pt4">
  <a class="altbg shadow-5 dib center mw4 tc brown link grow f4 ba br3
  pa2 bg-leave" href="list">{{text.frontPageButton}}</a>

  <a class="altbg shadow-5 dib center mw4 tc brown link grow f4 ba br3
  pa2 bg-leave" href="login">{{text.frontPageOrgButton}}</a>

</div>

</div>
