<div class="center mw5">
  <h1 class="f1">شجرة الحياة</h1>
  <img src="./assets/images.jpg" alt="tree of life">
  <p class="f4">هذا التطبيق عبارة عن منصة </p>
  <p class="f4">بين كل من يرغب بالتطوع ويبحث عن اطار ملائم وجمعيات باحثة عن متطوعين</p>
  <p>Font tester</p>
  <a href="list">متطوع</a>
</div>
