<div class="bg-light-green">
  <div class="dt center tc mw7">
    <div class="dtc">
      <img  class="h4 ma0 mt1"src="./assets/tree3.png" alt="tree of life">
    </div>
    <div class="dtc">
      <h1 class="f1">شجرة الحياة</h1>
    </div>
  <div class="">
    <p class="f4">هذا التطبيق عبارة عن منصة </p>
    <p class="f4">بين كل من يرغب بالتطوع ويبحث عن اطار ملائم وجمعيات باحثة عن متطوعين</p>
  </div>
  <div class="">
    <a href="list">متطوع</a>
  </div>
  </div>
</div>
