
<section class="tc ma4">
  <form class="" action="/orgform" method="post">
    <label class="db fw4 lh-copy f6" for=""> {{text.password}} <input type="password" name="password" value="">
    </label>
    <input class="ph3 pv2 input-reset altbg shadow-2 tc brown link grow f6 ba br3 mt2 bg-leave" type="submit" name="" value="Submit">
  </form>
  {{#if error}}
  <p class="light-red">{{error}}</p>
  {{/if}}
</section>
