@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
.amiri{font-family: 'Amiri', serif;}

.moreinfo.show {
  height:200px;
  transition: height 1s;
}

.moreinfo {
  height:0;
  transition: height 1s;
  overflow: scroll;
}

.brown {
  color:#483318;
}

.bg-lbrown {
  background: #DDE8B9
}

.altbg {
  background: #ecf2d6
}

.bg-leave {
  background: url("./assets/leave.png") bottom left no-repeat;
	background-size: 12%;
}

.left-3 {
  left:4rem;
}

.top-3 {
  top:3rem;
}

.h-header {
  height: 5rem;
}

.mw5-5 {
    max-width: 11rem;
}

.b--ourgreen {
  border-color: #496f22
}
