@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
.amiri{font-family: 'Amiri', serif;}

.moreinfo.show {
  height:300px;
  transition: height 1s;
}

.moreinfo {
  height:0;
  transition: height 1s;
  overflow: scroll;
}
