kcalbbbbe7cbbbe7c#bbbe7c#neerg/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* After Reset */
body {
	font-family: 'Ranga', sans-serif;
	text-align: center;
}


a {
  text-decoration: none;
}

.listofroles {
  background-size: 30%;
  background: url("../assets/tree_transparent.png") top right no-repeat,
							url("../assets/twitt-tree.png") bottom left no-repeat;
  background-color: #c7ebbb;
  background-size: 20%, 40%;
  height: 100vh;
  padding: 10px;

}
.rolepage{
	background-size: 30%;
	background: url("../assets/tree_transparent.png") top right no-repeat,
							url("../assets/twitt-tree.png") bottom left no-repeat;
	background-color: #e9f7fc;
	background-size: 20%, 40%;
	height: 100vh;
  padding: 10px;
}

.Form {
	background-size: 30%;
	background: url("../assets/tree_transparent.png") top right no-repeat,
							url("../assets/twitt-tree.png") bottom left no-repeat;
	background-color: #ffe6ff;
	background-size: 20%, 40%;
	height: 100vh;
  padding: 10px;
}

.header {
  text-align: center;
  font-size: 48px;
}

.biglist {
  text-align: center
}

.biglist__element {
  padding:20px;
}

.biglist__element__head {
  font-size: 32px;
  color: #4d7927;
}
.biglist__element__rolelist {
  display: inline-block;
}

.biglist__element__rolelist__element {
  padding:5px;
}

.biglist__element__rolelist__element:hover {
  cursor: pointer;
  text-shadow: #EEEE00 0 0 10px;
}

.Form__backlink {
  font-size: 48px;
  font-family: sans-serif;
  color: black;
  line-height: 1.5;
  background-image: -webkit-linear-gradient(top, #ffe6ff, #fff);
	background-image: linear-gradient(top, #ffe6ff, #fff);
  box-shadow: inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	position: relative;
	height: 70px;
  width: 70px;
  border-radius: 50%;
}

.Form__backlink:hover{
  cursor: pointer;
  box-shadow: #EEEE00 0 0 10px, inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.Form__Form {
    /* Just to center the form on the page */
  margin: 0 auto;
  width: 40%;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.Form__Form__div {
  margin-top: 1em;
}

.Form__Form__div__label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width:100%;
  max-width: 90px;
  text-align: right;
}

.Form__Form__div__input {
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;
}

.Form__Form__div__txtarea {
  /* To make sure that all text fields have the same font settings
  By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width:100%;
  max-width: 300px;
  box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #999;

  /* To properly align multiline text fields with their labels */
 vertical-align: top;

 /* To give enough room to type some text */
 height: 5em;
}

.Form__Form__div__button {
  /* To position the buttons to the same position of the text fields */
}


.treelife{
  width: 40%;
	max-width: :400px;
  margin-bottom:300px;
	display: block;
	margin: 0 auto;

}
.arabic-p{
  width: 60%;
	max-width: 600px;
	height: 300px;
	margin-top:20px;
  margin-bottom:50px;
	display: block;
 	margin: 0 auto;
}
.volunteer-logo{
  width: 30%;
	max-width: 300px;
}
.rolepage__backlink {
  font-size: 48px;
  font-family: sans-serif;
  color: black;
  line-height: 1.5;
  background-image: -webkit-linear-gradient(top, #e9f7fc, #fff);
	background-image: linear-gradient(top, #e9f7fc, #fff);
  box-shadow: inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	position: relative;
	height: 70px;
  width: 70px;
  border-radius: 50%;
}

.rolepage__forwardlink {
  font-size: 32px;
  color: black;
  line-height: 1.5;
  background-image: -webkit-linear-gradient(top, #e9f7fc, #fff);
	background-image: linear-gradient(top, #e9f7fc, #fff);
  box-shadow: inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	position: relative;
	height: 70px;
  width: 70px;
  border-radius: 10%;
	padding: 5px;
}
.rolepage__Organizationheader{
	font-size: 20px;
 	margin-bottom:10px;
}

.rolepage__Roleheader{
	font-size: 20px;
	margin-bottom:10px;
}

.rolepage__Roleparagraph{
	font-size: 20px;
	margin-bottom:10px;
}
