/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* After Reset */
body {
	font-family: 'Ranga', sans-serif;
	text-align: center;
}

.listofroles {
  background-size: 30%;
  background: url("../assets/tree_transparent.png") top left no-repeat,
              url("../assets/tree_transparent.png") bottom right no-repeat;
  background-color: #c7ebbb;
  background-size: 20%, 20%;
  height: 100vh;
}

a {
  text-decoration: none;
}

.main{
  text-align: center;
}

.main__logo {
  width: 600px;
}

.main__volButton {
  width: 300px;
}

.header {
  text-align: center;
  font-size: 48px;
}

.biglist {
  text-align: center
}

.biglist__element {
  padding:20px;
}

.biglist__element__head {
  border: 1px solid black;
  border-radius: 50%;
  display: inline-block;
  transform: translateY(-30%);
  width: 100px;
  line-height: 6.5;
  height: 100px;
}
.biglist__element__rolelist {
  display: inline-block;
}

.biglist__element__rolelist__element {
  padding:5px;
}

.biglist__element__rolelist__element:hover {
  cursor: pointer;
  text-shadow: #EEEE00 0 0 10px;
}

.volForm {
  font-family: 'Ranga', cursive;
  background-size: 30%;
  background: url("../assets/tree_transparent.png") top left no-repeat,
              url("../assets/tree_transparent.png") bottom right no-repeat;
  background-color: #c7ebbb;
  background-size: 20%, 20%;
  text-align: center;
  height: 100vh;
}

.volForm__backlink {
  font-size: 48px;
  font-family: sans-serif;
  color: black;
  line-height: 1.5;
  background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
	background-image: linear-gradient(top, #f4f1ee, #fff);
  box-shadow: inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
	position: absolute;
  left: 25%;
  top: 5%;
	height: 70px;
  width: 70px;
  border-radius: 50%;
}

.volForm__backlink:hover{
  cursor: pointer;
  box-shadow: #EEEE00 0 0 10px, inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.volForm__Form {
    /* Just to center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.treelife{
	width: :400px;
  margin-bottom:300px;
	display: block;
	margin: 0 auto;

}
.arabic-p{
	width: 600px;
	height: 300px;
	margin-top:20px;
  margin-bottom:50px;
	display: block;
 	margin: 0 auto;
}
.volunteer-logo{
	width: 300px;
}
